node_modules
.env
mnemonic.*
pkey.txt
0x*
coverage.json
coverage
deployments
cache
artifacts
*.log
.DS_Store
playnft-address.txt
tokenlock-*
.openzeppelin/*
seasonlock-*
.vscode
.openzeppelin
heronft-address.txt